<div class="p-4 d-flex justify-content-end">
  <button (click)="openDialogCreateUser()" mat-flat-button color="primary">
    <mat-icon>add</mat-icon> Novo usuário
  </button>

  <div class="container">
    <div class="row">
      <div class="col-4" *ngFor="let user of users">
        <mat-card class="mb-5">
          <mat-card-header>
            <mat-card-title>{{ user.nome | uppercase}}</mat-card-title>
            <mat-card-subtitle>{{ user.profissao }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>Data de Nascimento : {{ user.dataNascimento | date: "dd/MM/yyyy"}}</p>
            <p>Email : {{ user.email }}</p>
            <p>Senha : {{ user.password }}</p>
            <p>Salário : {{ user.salario | currency : "BRL"}}</p>
            <p>Salário sem pipe '|' : R$ {{ user.salario }}</p>
            <p>Telefone : {{ user.telefone | mask : "(00) 0 0000-0000" }}</p>
            <mat-divider></mat-divider>
            <p>Estado: {{ user.endereco.estado }}</p>
            <p>CEP: {{ user.endereco.cep | cepMask}}</p>
            <p>Rua: {{ user.endereco.rua }}</p>
            <p>Número: {{ user.endereco.numero }}</p>
            <p>Bairro: {{ user.endereco.bairro }}</p>
            <p>Cidade: {{ user.endereco.cidade }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-flat-button color="danger">Excluir</button>
            <button mat-flat-button color="primary">Editar</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
