.navbar-brand img {
  height: 48px;
}

#main {
  min-height: 60vh;
}

.carousel-item img {
  height: 400px;
  object-fit: cover;
}

.features img {
  height: 64px;
  margin-bottom: 16px;
}

.btn-top {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 32px;
  margin-right: 32px;
}

.btn-top img {
  height: 64px;
}

.footer {
  background-color: black;
  padding: 30px 0;
  width: 100%;
}

.footer p {
  color: #fff;
  text-align: center;
}