<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
     
  </head>
  <body>
    <!-- Navbar -->
    <app-header></app-header>
    <!-- End Navbar -->

    <!-- Main -->
    <main id="main">
      <!-- Carousel -->
      <app-carousel></app-carousel>
      <!-- End Carousel -->

      <!-- Features -->
      <app-features [featuresData]="data.features"></app-features>
      <!-- End Features -->

      <!-- About -->
      <app-about [aboutData]="data.about"></app-about>
      <!-- End About -->

      <!-- Address -->
      <app-address [address]="data.address"></app-address>
      <!-- End Address -->

      <!-- Contact -->
      <app-contact (momentoEnvioForm)="momentoEnvioForm()" (sendFormData)="validarFormulario($event)"></app-contact>
      <!-- End Contact -->

      <div class="btn-top">
        <a class="btn btn-link" href="#main">
          <img src="./../assets/images/seta-para-cima.png" alt="..." />
        </a>
      </div>
    </main>
    <!-- End Main -->

    <!-- Footer -->
    <app-footer></app-footer>
    <!-- End Footer -->
     
  </body>
</html>
