<section id="features" class="my-5">
  <div class="container">
    <h1 class="text-center mb-4">Destaques</h1>
    <div class="row">
      <!-- <div
        *ngIf="backgroundcolor === 'red'; else elseBlock"
        [ngStyle]="{
          backgroundColor: backgroundcolor.length > 0 ? backgroundcolor : ''
        }"
        class="col features text-center"
      >
        <img src="./assets/images/feature1.png" alt="" />
        <div class="text-center">
          <h4>{{ featuresData.features[0].title }}</h4>
          <p>
            {{ featuresData.features[0].text }}
          </p>
        </div>
      </div> 
      <ng-template #elseBlock>
        <div
          [ngStyle]="{
            backgroundColor: backgroundcolor.length > 0 ? backgroundcolor : ''
          }"
          class="col features text-center"
        >
          <img src="" alt="" />
          <div class="text-center">
            <h4>{{ featuresData.features[0].title }}</h4>
            <p>
              {{ featuresData.features[0].text }}
            </p>
          </div>
        </div>
      </ng-template> -->
      <div
        [ngStyle]="{
          backgroundColor: backgroundcolor.length > 0 ? backgroundcolor : ''
        }"
        *ngFor="let feature of featuresData.features"
        class="col features text-center"
      >
        <img src="{{feature.image}}" alt="" />
        <div class="text-center">
          <h4>{{ feature.title }}</h4>
          <p>
            {{ feature.text }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
