<section id="features" class="my-5">
    <div class="container">
      <h1 class="text-center mb-4">Destaques</h1>
      <div class="row">
        <div class="col features text-center">
          <img src="./../assets/images/feature1.png" alt="" />
          <div class="text-center">
            <h4>Destaque 1</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
              dolor arcu, malesuada eget posuere et.
            </p>
          </div>
        </div>
        <div class="col features text-center">
          <img src="./../assets/images/feature2.png" alt="" />
          <div class="text-center">
            <h4>Destaque 2</h4>
            <p>
              Aenean laoreet, felis id sollicitudin fringilla, leo orci
              iaculis eros, et volutpat nunc lacus ut sapien.
            </p>
          </div>
        </div>
        <div class="col features text-center">
          <img src="./../assets/images/feature3.png" alt="" />
          <div class="text-center">
            <h4>Destaque 3</h4>
            <p>
              Aenean non eros congue leo consectetur fermentum. Quisque ut
              dignissim tortor, eget porttitor magna.
            </p>
          </div>
        </div>
        <div class="col features text-center">
          <img src="./../assets/images/feature4.png" alt="" />
          <div class="text-center">
            <h4>Destaque 4</h4>
            <p>
              Duis id odio dapibus, finibus tortor eget, cursus nunc. Morbi
              egestas nisl orci, in cursus ipsum cursus et.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>